<template>
  <section class="introduction">

    <div class="introduction__content">
      <div class="introduction__content--describe">
        <p>Você não precisa entender de programação ou contratar um desenvolvedor para acompanhar o aprendizado do seus alunos. </p>
        <p>Use as ferramentas do Hotmart Club focando no que realmente importa: vender mais e dar a melhor experiência a quem assiste suas aulas.</p>
      </div>
    </div>

    <div class="introduction__image">
      <img class="introduction__image--notebook" src="/static/notebook.png" alt="">
      <img class="introduction__image--phone" src="/static/celular.png" alt="">
    </div>

  </section>
</template>

<script>
export default {
  name: 'introduction',
  data () {
    return {
      msg: 'introduction'
    }
  }
}
</script>

<style>
.introduction {
  grid-area: introduction;
  background-color: #fff;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 40% 1fr;
  -ms-grid-columns:  40% 1fr;
  grid-template-areas:
  'introduction__content    introduction__image'
}

.introduction__content {
  grid-area: introduction__content;
}

.introduction__image {
  grid-area: introduction__image;
  position: relative;
}

.introduction__image--phone {
  overflow: -webkit-paged-x;
  position: relative;
  top: 14%;
  left: 9%;
}

.introduction__image--notebook {
  overflow: -webkit-paged-x;
  position: absolute;
  bottom: 13%;
}

.introduction__content--describe {
  padding-top: 176px;
  padding-left: 180px;
  font-size: 14px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #2b2b2b;
}

.introduction__content--describe p {
  padding: 10px;
  margin: 0;
}
</style>
