<template>
  <button class="btn btn--primary btn--lg " @click="handler()">
    <span>
      <slot></slot>
    </span>
  </button>
</template>

<script>
export default {
  name: 'ShButton',
  props: {
    href: String,
    type: {
      type: String,
      default: 'button'
    },
    disabled: Boolean,
    to: null,
    handler: Function
  }
}
</script>

<style scoped>

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom: 3px solid var(--red-inside) !important;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  font-size: 1rem;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover {
  background-color: var(--red-inside)
}

.btn--primary {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red-inside);
}

.btn--lg {
    padding: 1rem 5rem;
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn--sm {
  padding: .2rem .6rem;
  padding-bottom: 5px;
  font-size: 0.80rem;
  border-radius: .3rem;
}

.btn--block {
    width: 15rem;
}

</style>
