<template>
  <section class="card-container">
      <article class="card">
          <figure class="card__thumbnail">
            <slot name="image"></slot>
          </figure>
          <main class="card__description">
            <slot></slot>
          </main>
      </article>
  </section>
</template>

<script>
export default {
  name: 'ShCard',
  props: {
    href: String,
    disabled: Boolean,
    handler: Function
  }
}
</script>

<style scoped>

figure {
  margin: 0;
  min-height: 230px;
}

.card-container {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 230px));
}
.card {
    box-shadow: 0px 1px 5px #555;
    min-height: 357px;
    background-color: white;
    border-radius: 5px;
    background-color: var(--white-two);
    -webkit-box-shadow: -1px 22px 42px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 22px 42px 7px rgba(0,0,0,0.28);
    box-shadow: -1px 22px 42px 7px rgba(0,0,0,0.28);
}
.card__description {
    padding: 2rem;
    line-height: 1.6em;
    letter-spacing: -0.3px;
    font-size: 14px;
    min-height: 100px;
}

img {
    max-width: 100%;
}

</style>
