<template>
  <div class="content-image" @click="handler()">
    <div class="content-image__image">
      <img :src="image">
    </div>
    <div class="content-image__contents">
      {{ contents }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShContentImage',
  props: {
    contents: String,
    image: String,
    handler: Function
  }
}
</script>

<style scoped>
.content-image {
  cursor: pointer;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 42% 1fr;
  -ms-grid-columns:  42% 1fr;
  grid-template-areas:
  'image    contents'
  ;
}

.content-image__image {
  grid-area: image;
  justify-self: end;
}

.content-image__contents {
  grid-area: contents;
  justify-self: start;
  align-self: center;
  padding-left: 10px;
}
</style>
