<template>
  <div class="google-map" :id="mapName"></div>
</template>

<script>
export default {
  name: 'google-map',
  props: ['mapName'],
  data () {
    return {
      nations: {
        brasil: {
          center: {lat: parseFloat(-23.5505199), lng: parseFloat(-46.6333094)},
          population: 30
        },
        espanha: {
          center: {lat: parseFloat(40.4165000), lng: parseFloat(-3.7025600)},
          population: 20
        },
        mexico: {
          center: {lat: parseFloat(19.4968732), lng: parseFloat(-99.7232673)},
          population: 10
        },
        canada: {
          center: {lat: parseFloat(56.130366), lng: parseFloat(-106.346771)},
          population: 5
        },
        alemanha: {
          center: {lat: parseFloat(51.165691), lng: parseFloat(10.451526)},
          population: 7
        },
        japao: {
          center: {lat: parseFloat(36.204824), lng: parseFloat(138.252924)},
          population: 15
        },
        australia: {
          center: {lat: parseFloat(-35.4734679), lng: parseFloat(149.0123679)},
          population: 6
        }
      },
      map: null,
      mapCentre: { latitude: parseFloat(41.4165000), longitude: parseFloat(-3.7025600) }
    }
  },
  mounted () {
    this.map = new google.maps.Map(document.getElementById(this.mapName), {
      zoom: 2,
      disableDefaultUI: true,
      styles: [
        {elementType: 'geometry', stylers: [{color: '#F5F4F3'}]},
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{color: '#D1CEC9'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{color: '#515c6d'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.stroke',
          stylers: [{color: '#D1CEC9'}]
        }
      ],
      center: {lat: parseFloat(1), lng: parseFloat(1)},
      mapTypeId: 'terrain'
    })

    for (var nation in this.nations) {
      var cityCircle = new google.maps.Circle({
        strokeColor: '#ef4e23',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#ef4e23',
        fillOpacity: 0.35,
        map: this.map,
        center: this.nations[nation].center,
        radius: Math.sqrt(this.nations[nation].population) * 200000
      })
    }
    console.log(cityCircle)
  }
}
</script>

<style scoped>
.google-map {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: gray;
}
</style>
