<template>
  <div id="video-container" class="">
    <div class="video-bg"></div>
    <a @click.prevent="exibeModalVideo(false)" href="#" class="video-fechar">x</a>

    <div class="test embed-responsive">
      <div id="videoWrapper">
        <iframe :id="frameId" src frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from './../../core/bus'

export default {
  name: 'ModalVideo',
  props: {
    show: Boolean,
    srcVideo: String,
    frameId: String
  },
  created () {
    console.log(this.srcVideo)
    Bus.$on('video-container', (res) => {
      this.exibeModalVideo(res)
    })
  },
  methods: {
    exibeModalVideo (show) {
      if (show) {
        document.querySelector('iframe').src = this.srcVideo
        document.getElementById('video-container').style.display = 'block'
      } else {
        document.querySelector('iframe').src = ''
        document.getElementById('video-container').style.display = 'none'
      }
    }
  }
}
</script>

<style scoped>
#video-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  overflow: hidden;
}

#video-container .video-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--red);
  opacity: .8;
  z-index: 10;
}

#video-container .video-fechar, #video-container .video-fechar:focus {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  color: var(--marine);
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 5px 10px 8px 10px;
  font-weight: 600;
  transition: all .1s ease-out;
}

#video-container #videoWrapper iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 15;
}
</style>
