<template>
  <section class="interactive-map">
    <h2>Usuários do mundo inteiro estão utilizando o Hotmart Club</h2>
    <div class="interactive-map-describe">
      <h3>Áreas de membros criadas no mundo nos últimos 30 dias:</h3>
    </div>
    <div class="interactive-map-content">
      <google-map map-name="map"></google-map>
    </div>
  </section>
</template>

<script>

import googleMap from './../shared/google-map'

export default {
  name: 'interactive-map',
  components: {
    googleMap
  },
  data () {
    return {
      id: 'interactive-map'
    }
  }
}
</script>

<style scoped>
.interactive-map {
  grid-area: interactive-map;
  background-color: var(--white);
  text-align: center;
}

.interactive-map h2 {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 30px;
  font-size: 36px;
  text-align: center;
  color: var(--black);
}

.interactive-map h3 {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 0 20px 0 20px;
}

.interactive-map-describe {
  background-color: var(--aqua-marine);
  width: 100%;
}

.interactive-map-describe h3 {
  padding: 30px 0 30px 0;
}
</style>
