<template>
    <section class="section-footer">
    </section>
</template>

<script>
export default {
  name: 'section-footer',
  data () {
    return {
      msg: 'section-footer'
    }
  }
}
</script>

<style>
.section-footer {
  grid-area: footer;
  background-color: var(--marine);
}
</style>
