<template>
    <section class="section-header">
      <div class="splice"></div>
      <div class="splice-center"></div>
      <div class="splice-logo">
        <div class="splice-logo__imagem">
          <img src="/static/logo.svg" alt="Logo da empresa">
        </div>
      </div>
      <div class="banner">
        <div class="banner_content">
          <div class="banner__titulo">
            <h1>Todas as ferramentas para você organizar, vender e distribuir seu curso online </h1>
            <h3>Leve o seu conteúdo digital ao mundo todo e dê a melhor experiência de aprendizado aos seus Alunos.</h3>
          </div>
          <div class="banner__play-video">
            <sh-content-image image="/static/video-play.svg" contents="Assista ao vídeo" :handler="openVideo"></sh-content-image>
            <sh-modal-video :srcVideo="urlVideo" :frameId="frameId"></sh-modal-video>
          </div>
          <div class="banner__cadastro">
            <sh-button :handler="register"> Cadastrar na Hotmart </sh-button>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import ShButton from './../shared/button'
import ShContentImage from './../shared/content-image'
import ShModalVideo from './../shared/modal-video'
import Bus from './../../core/bus'

export default {
  name: 'section-header',
  components: {
    ShButton,
    ShContentImage,
    ShModalVideo
  },
  data () {
    return {
      urlVideo: 'https://www.youtube.com/embed/J48QPnsl5Jg?autoplay=1&rel=0&amp;showinfo=0',
      showVideo: false,
      frameId: 'firstVideo'
    }
  },
  created () {
    Bus.$on('video-container-close', (res) => {
      this.showVideo = false
    })
  },
  methods: {
    register: function () {
      alert('Cadastrou na hotmart!')
    },
    openVideo: function () {
      console.log('openVideo')
      Bus.$emit('video-container', true)
    }
  }
}
</script>

<style>

.section-header {
  grid-area: head;
  background-color: var(--white-two);
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-areas:
  'splice'
  'splice-center'
  'splice-logo'
  'banner'
  ;
  grid-template-rows: 70px 5px 55px auto;
  -ms-grid-rows: 70px 5px 55px auto;
}

.splice {
  grid-area: splice;
  background-color: var(--marine);
}

.splice-center {
  grid-area: splice-center;
  background-color: var(--red);
}

.splice-logo {
  grid-area: splice-logo;
  background-color: var(--marine);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  grid-area: banner;
  background-image: linear-gradient(87deg, var(--tiffany-blue), var(--light-cyan));
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__titulo {
  width: 790px;
  height: 120px;
  text-align: center;
}

.banner__play-video {
  text-align: center;
  padding: 60px 0 90px 0;
}

.banner__cadastro {
  text-align: center;
}

.splice-logo__imagem {
  overflow: -webkit-paged-x;
}

.splice-logo__imagem img {
  padding-top: 16%;
}
</style>
