<template>
  <div id="app" class="app">
    <section-header></section-header>
    <introduction></introduction>
    <session-cards></session-cards>
    <interactive-map></interactive-map>
    <section-footer></section-footer>
  </div>
</template>

<script>
import SectionHeader from './components/section-header/section-header.vue'
import Introduction from './components/introduction/introduction'
import SessionCards from './components/session-cards/session-cards'
import InteractiveMap from './components/interactive-map/interactive-map.vue'
import SectionFooter from './components/section-footer/section-footer'

export default {
  name: 'App',
  components: {
    SectionHeader,
    Introduction,
    SessionCards,
    InteractiveMap,
    SectionFooter
  }
}
</script>

<style>
:root {
  --marine: #053d4e;
  --red: #ef4e23;
  --red-inside: #c43b17;
  --light-cyan:#9cf9ff;
  --tiffany-blue-two : #8fe8ee;
  --tiffany-blue: #7de1e8;
  --white: #ececec;
  --white-two: #f5f5f5;
  --aqua-marine: #45dcdf;
  --black: #242424;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 32px;
  line-height: 1.11;
}
h2 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: -0.3px;
  color: var(--black);
}
.app {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-areas:
  'head'
  'introduction'
  'session-cards'
  'interactive-map'
  'footer'
  ;
  grid-template-rows: 780px 600px 760px auto 240px;
  -ms-grid-rows: 780px 600px 760px auto 240px;
}
</style>
