<template>
  <section class="session-cards">
    <h2>Cuide de seus alunos em um só lugar</h2>
    <div class="cards">
      <div class="card-permisssion-details">
        <h3>Permissões na Área de Membros</h3>
      </div>
      <div class="card-permisssion">
        <sh-card>
          <img slot="image" src="/static/card-permission.png">
          <span>Defina os papéis de seus usuários e facilite o gerenciamento de Alunos.</span>
        </sh-card>
      </div>
      <div class="card-import-details">
        <h3>Importação de Alunos</h3>
      </div>
      <div class="card-import">
        <sh-card>
          <img slot="image" src="/static/card-import.png">
          <span>Adicione um usuário por vez ou importe listas de Alunos para o seu curso online.</span>
        </sh-card>
      </div>
      <div class="card-system-details">
        <h3>Sistema de gerenciamento de comentários</h3>
      </div>
      <div class="card-system">
        <sh-card>
          <img slot="image" src="/static/card-system.png">
          <span>Interaja com seus Alunos e administre comentários, promovendo a discussão de ideias e a troca de conhecimentos.</span>
        </sh-card>
      </div>
      <div class="card-report-details">
        <h3>Relatórios de alcance</h3>
      </div>
      <div class="card-report">
        <sh-card>
          <img slot="image" src="/static/card-report.png">
          <span>Integre sua área de membros ao Google Analytics e acompanhe dados de navegação.</span>
        </sh-card>
      </div>
    </div>
  </section>
</template>

<script>
import ShCard from './../shared/card'

export default {
  name: 'session-cards',
  components: {
    ShCard
  },
  data () {
    return {
      id: 'session-cards'
    }
  }
}
</script>

<style>
.session-cards {
  grid-area: session-cards;
  background-color: var(--white);
}

.session-cards h2 {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: var(--black);
}

.session-cards h3 {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 0 20px 0 20px;
}

.cards {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'card-permisssion-details card-import-details card-system-details card-report-details'
  'card-permisssion card-import card-system card-report'
}

.card-permisssion {
  grid-area: card-permisssion;
  justify-self: center;
}

.card-permisssion-details {
  grid-area: card-permisssion-details;
  justify-self: center;
}

.card-import {
  grid-area: card-import;
  justify-self: center;
}

.card-import-details {
  grid-area: card-import-details;
  justify-self: center;
}

.card-system {
  grid-area: card-system;
  justify-self: center;
}

.card-system-details {
  grid-area: card-system-details;
  justify-self: center;
}

.card-report {
  grid-area: card-report;
  justify-self: center;
}

.card-report-details {
  grid-area: card-report-details;
  justify-self: center;
}

</style>
